<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white text-center">
    <!-- Navbar -->
    <nav class="bg-black-500 text-white p-4 flex justify-between">
<!--        <a href="{% url 'home' %}" class="px-4 py-2 border-2 border-blue-500 rounded-md transform hover:scale-105">Home</a>-->
            <a href="{% url 'home' %}" class="px-4 py-2 border-2 border-blue-300 rounded-md transform hover:scale-105 hover:shadow-lg hover:shadow-blue-300 transition-all duration-300">Home</a>
        <div class="flex space-x-4">
            <a href="{% url 'chatbot' %}" class="px-4 transform hover:scale-105">Chat-Bot</a>
            <a href="{% url 'technology' %}" class="px-4 transform hover:scale-105">Technology</a>
            <a href="{% url 'projects' %}" class="px-4 transform hover:scale-105">Projects</a>
            <a href="{% url 'contact' %}" class="px-4 transform hover:scale-105">Contact</a>

        </div>
    </nav>

    <!-- Page Content -->
    <div class="p-8">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white p-4 mt-10 border-t-4 border-red-500">
        <p>&copy; 2025 Chihit Gaur. All rights reserved.</p>
    </footer>
</body>
</html>
